/* Contenedor principal del chat */
.chat-box {
    background: var(--color-card);
    min-height: 90vh;
    display: flex;
    flex-direction: column; /* Alinea las burbujas desde abajo hacia arriba */
    align-items: center;
    justify-content: flex-start;
    border-radius: .5rem;
    overflow-y: auto; /* Permite desplazarse si las burbujas exceden el tamaño */
    margin-bottom: 20px;
    position: relative; /* Necesario para posicionar el formulario en la parte inferior */
}

/* Contenedor superior */
.chat-box-top {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid var(--color-border);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .7rem;
    padding: 1rem 0;
}

/* Estilo de la imagen de perfil */
.chat-box img {
    width: 100px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    margin-top: .5rem;
    border: 3px solid var(--color-primary);
}

/* Contenedor inferior */
.chat-box-bottom {
    background: var(--color-bg);
    width: 80%;
    padding: .8rem;
    border-radius: .5rem;
    position: absolute; /* Esto posiciona el formulario en la parte inferior */
    bottom: 0; /* Alinea al fondo del contenedor */
    left: 50%;
    transform: translateX(-50%); /* Centra el formulario horizontalmente */
    margin-bottom: 30px;
}

/* Estilo del formulario */
.chat-box-bottom form {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Estilo del input */
.chat-box-bottom input {
    width: 100%;
    background: transparent;
    color: var(--color-primary);
    font-size: 1rem;
}

/* Estilo para ocultar el input de tipo label */
.chat-box-bottom label input {
    display: none;
}

/* Estilo común para las burbujas de chat */
.bubble {
    margin-block: 15px;
    padding-inline: 10px;
    padding-block: 10px;
    border-radius: 8px;
    width: 400px;
    max-width: 100%;
    word-wrap: break-word;
    display: flex;
    font-size: 14px;
    line-height: 1.4;
}

/* Estilo para la burbuja del emisor */
.bubble-emisor {
    background-color: #004288;
    color: white;
    align-self: flex-start; /* Alinea a la izquierda */
    border-top-left-radius: 0px; /* Esquina superior izquierda recta */
}

/* Estilo para la burbuja del receptor */
.bubble-receptor {
    background-color: #d3d3d3;
    color: #333;
    align-self: flex-end; /* Alinea a la derecha */
    border-top-right-radius: 0px; /* Esquina superior derecha recta */
}



/* ..................Start Media Scrin........ */
@media (max-width:768px){
    .chat-box{
        min-width: auto;
    }
    .chat-box-top{
        width: 90%;
    }
    .chat-box-bottom{
        width: 90%;
    }
}